<div class="bg">
  <div class="titleName">
    <div class="rigthContainer main-font">
      <div class="a">
        KRISHNA MOHAN
      </div>
      <div class="b">
        ANARIL
      </div>
      <div class="c">
        MOHANA CHANDRAN
      </div>
      <div class="d">
        <a class="link" href="https://twitter.com/krishnaanaril">
          <object class="smIcon" type="image/svg+xml" data="assets/img/twitter.svg">
            Your browser does not support SVG
          </object>
        </a>
        <a class="link" href="http://lmgtfy.com/?q=%23deletefacebook">
          <object class="smIcon" type="image/svg+xml" data="assets/img/facebook.svg">
            Your browser does not support SVG
          </object>
        </a>
        <a class="link" href="https://www.instagram.com/krishnaanaril">
          <object class="smIcon" type="image/svg+xml" data="assets/img/instagram.svg">
            Your browser does not support SVG
          </object>
        </a>
        <a class="link" href="https://github.com/krishnaanaril">
          <object class="smIcon" type="image/svg+xml" data="assets/img/github.svg">
            Your browser does not support SVG
          </object>
        </a>
        <a class="link" href="https://stackoverflow.com/users/1520750">
          <object class="smIcon" type="image/svg+xml" data="assets/img/stackoverflow.svg">
            Your browser does not support SVG
          </object>
        </a>
      </div>
    </div>
  </div>
  <!-- <div>
      <a class="link" href="https://www.pexels.com/photo/black-pen-near-iphone-and-apple-magic-keyboard-934062/">
        <object class="imageCredit" type="image/svg+xml" data="assets/img/imageCredit.svg">
          Your browser does not support SVG
        </object>
      </a>
  </div> -->
</div>