.bg {  
  /* The image used */
  background-image: url("/assets/img/cover.jpg");

  /* Full height */
  height: 100%;  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
}

.titleName{  
  // font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;  
  @media only screen and (min-width: 1024px) {
    font-size: 75px;
  }
  @media only screen and (max-width: 1023px) and (min-width:400px){
    font-size: 30px;
  }
  @media only screen and (max-width: 400px){
    font-size: 25px;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-around;    
  max-width: 1024px;
  height: 100%;
  vertical-align: middle;
  margin:auto;
}

.rigthContainer{
  display: flex;
  flex-direction: column;
  margin: auto;
  // padding: 10px;  
}

.rigthContainer div{
  line-height: 1.0;
}

.smIcon{
  @media only screen and (min-width: 1024px) {
    width: 64px;
    height: 64px;
    margin: 10px;
  }
  @media only screen and (max-width: 1023px) and (min-width:400px){
    width: 48px;
    height: 48px;
    margin: 5px;
  }  
  @media only screen and (max-width: 400px){
    width: 36;
    height: 36px;
    margin: 5px;
  }
  pointer-events: none;  
}

.imageCredit{
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.socialIcons{
  margin:auto;
}

.myName{
  margin:auto;
}

.imageCredits{
  position: fixed;
  left: .2rem;
  bottom: .2rem;
}