<div class="bg-gray-200 text-gray-800 dark:bg-black dark:text-gray-50">
    <div class="container mx-auto bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-50">
        <section class="hidden lg:flex flex-row justify-center">
            <nav>
                <ul class="lg:text-xl lg:flex lg:flex-row">
                    <li class="p-3" routerLink="/" routerLinkActive="border-b-2 border-gray-700 dark:border-gray-300" [routerLinkActiveOptions]="{ exact: true }">Home</li>
                    <li class="p-3">Blog</li>
                    <li class="p-3">Projects</li>
                    <li class="p-3">About</li>
                </ul>
            </nav>
        </section>
        <div class="absolute lg:hidden mr-4 p-4 right-0">
            <button class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="24px" height="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
            </button>
        </div>
    </div>
    
    <router-outlet></router-outlet>
    <footer class="container mx-auto flex flex-row bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-50">
        <div class="mx-auto p-5 text-sm">            
            <p>© 2020-present <a class="font-bold" href="https://krishnamohan.dev/">Krishna Mohan A M</a>. All Rights Reserved.</p>
        </div>
    </footer>
</div>
