<div class="aboutCover">  
  <div class="matter">
  <div class="leftPane">
    <img class="img-circle" src="assets/img/dp.jpg">
  </div>
  <div class="rightPane">
    <p class="text-center">
      I am a full stack devloper who work mostly in Microsoft technologies. My current stack is Angular, .NET Core and SQL Server. GraphQL grabbed my attention recently and it is now occupying my most of the free time.
    </p>
    <p class="text-center">
      It all started with the <a href="https://en.wikipedia.org/wiki/BASIC">BASIC</a> in 1996. Then I learned the quirks of C++, and little bit of java durng my Bachelors. Later in my full-time job I picked up a wider varitey of stuffs, ASP.NET, Angular, SQL Server etc.
    </p>
  </div> 
</div>
</div>