<div *ngIf="metaData" class="container mx-auto bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-50">
    <div class="">
        <!-- <div aria-label="Blog tags/keywords">
            <div color="primary" *ngFor="let keyword of metaData.keywords">{{ keyword}}</div>
        </div> -->
        <h1 class="text-3xl">{{ metaData.title }}</h1>
        <div>
            <time [datetime]="metaData.date">{{ metaData.date | date }}</time>
        </div>
    </div>
    <hr>
    <scully-content></scully-content>
    <hr>
    <!-- <div>
        Have questions/comments? Tweet @<a href="https://twitter.com/krishnaanaril">krishnaanaril</a>
    </div> -->
</div>