@import (reference) "../../styles.less";

 ::slotted(h1)  {
  color:rgb(51, 6, 37);
  background-color: rgb(248, 211, 236);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.blog-post {
  margin: auto;
  @media all and (max-width: @tab-width) {
    margin: 0 10px;
  }
  word-wrap: break-word;
  hyphens: auto;
  max-width: @tab-width;
  font-size: 18px;
  line-height: 1.5;
  .font-raleway;  
}

img {
  width:100%;
  display: block;
  margin: auto;
}

img + em {
  display: block;
  word-break: break-all;
  text-align: center;
  font-size: 0.9rem;
  color: grey;
}

img + em > * {
  font-size: 0.9rem;
  color: grey;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code {
  background-color: black;
  color: white;
  padding: 10px;
  display: block;
}

.blog-title {   
  font-weight: normal; 
  font-size: 4.5rem;
  line-height: 1;
  word-break: normal;
  display: block;
  margin: 0px auto 10px auto;
  text-align: center;
  .font-zilla-slab;
  @media all and (max-width: @tab-width) {
    font-size: 3rem;
  }
}

hr {
  width: 100px;
}

.post-footer {
  &:extend(.blog-post);
}

.sub-items-container {
  display: flex;
  justify-content: center;
}

mat-chip-list {  
  .sub-items-container;
  margin: 50px auto 5px auto;
}

.keywords {
  background-color: hsl(0, 0, 96%);
  padding: 10px;
  border: 1px solid grey;
}