<div *ngIf="metaData" class="blog-post">
    <div class="title-section">
        <mat-chip-list aria-label="Blog tags/keywords">
            <mat-chip class="keywords" color="primary" *ngFor="let keyword of metaData.keywords">{{ keyword}}</mat-chip>
        </mat-chip-list>
        <h1 class="blog-title">{{ metaData.title }}</h1>
        <div class="sub-items-container">
            <time [datetime]="metaData.date">{{ metaData.date | date }}</time>
        </div>
    </div>
    <hr>
    <scully-content></scully-content>
    <hr>
    <div class="post-footer">
        Have questions/comments? Tweet @<a href="https://twitter.com/krishnaanaril">krishnaanaril</a>
    </div>
</div>