/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import (css) url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Zilla+Slab');

@personal-black: hsl(0, 100%, 0%);
@tab-width: 768px;

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-zilla-slab {
    font-family: 'Zilla Slab', serif;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

html, body {    
    height: 100%;
    margin: 0 0 !important;  
    .font-montserrat;  
}

body {
    margin: 30px 10px;
}

.main-font{
    color: black;
}

.top-nav {
    list-style: none;
    text-align: center;
    padding: 0;
    li {
        font-size: 1.2rem;
        display: inline-block;
        margin: 5px 25px;  
        cursor: pointer;      
    }
    li:hover {
        color: grey;
    }
}

.nav-active {
    border-bottom: 5px solid;
}

.tool-bar {
    background-color: hsl(360, 100%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bolder;
    padding: 0;
    .font-raleway;
}

a {
    color: hsl(225, 46%, 42%);
    text-decoration-line: none;
    font-weight: bold;
    &:hover {
        color: hsl(258, 83%, 45%);
        border-bottom: 2px solid hsl(9, 81%, 61%);
      }
  }

  .mat-card-header-text {
    margin: 0px !important;
}