<div class="flex flex-col h-screen justify-evenly w-screen">
  <div class="flex flex-col">
    <h1 class="font-bold m-auto text-3xl">Krishna Mohan A M</h1>
    <p class="">
      <span>Software Engineer</span> . <span>Artist</span> . <span>Amateur Footballer</span>
    </p>
  </div>
  <div class="m-4">
    <picture>
      <source type="image/webp" srcset="/assets/images/dp.webp">
      <source type="image/jpeg" srcset="/assets/images/dp.jpg">
      <img src="/assets/images/dp.jpg" alt="Krishna Mohan's Avatar"
        class="filter-grayscale rounded-lg hover:filter-none">
    </picture>
  </div>
</div>

<div class="">
  <ng-container *ngFor="let page of links$ | async">
    <div class="p-2 m-2 rounded-lg shadow-lg" *ngIf="page.published">
      <div>
        <h2 class="text-xl mt-0.5 mb-0.5">{{ page.title }}</h2>
      </div>
      <div class="text-gray-700 mt-1.5 mb-1.5">
        <p>
          {{page.description}}
        </p>
      </div>
      <div>
        <a [routerLink]="page.route">READ MORE</a>
      </div>
    </div>
  </ng-container>
  <div class="filling-empty-space-childs"></div>
</div>