<mat-toolbar class="tool-bar">
    <nav>
        <ul class="top-nav">
            <li>Home</li>
            <li>Blog</li>
            <li>Projects</li>
            <li>About</li>
        </ul>
    </nav>
</mat-toolbar>

<h1>Krishna Mohan A M</h1>
<i class="bx bxl-facebook bx-border-circle"></i>
<hr>
<ul class="blog-links">
    <ng-container *ngFor="let page of links$ | async">
        <li *ngIf="page.published">
            <a [routerLink]="page.route">{{ page.title }}</a>
        </li>
    </ng-container>
</ul>

